
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="myModalLabel">מחיקת מידור</h3>
    </div>
    <div class="modal-body">
    <p></p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">סגור</button>
        <button data-dismiss="modal" class="btn red" id="btnYes">אשר</button>
    </div>
</div>
<div id="myEditModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="myModalLabel">עריכת מידור</h3>
    </div>
    <div class="modal-body">
    <div class="control-group">
	<label>שם:</label>
	<input type="text" class="form-control" id="edit-mission" style="height:35px" placeholder="שם הסרט" name="name">
	</div>

	<div class="control-group">
	<label>מקור:</label>
		<datalist id="sources-list">
		</datalist>
		<input type="text" class="form-control" id="edit-source" list="sources-list" style="height:35px" placeholder="מקור" name="source">
	</div>

	<div class="control-group" style="text-align:right">
	<label>זמן בתחלה:</label>
	<input type=datetime-local step=1 class="form-control" id="edit-start" style="text-align:right;height:35px" placeholder="זמן התחלה" name="start_time">
	</div>

	<div class="control-group">
	<label>זמן סיום:</label>
	<input type="datetime-local" class="form-control" id="edit-end" style="text-align:right;height:35px" placeholder="זמן סיום" name="end_time">
	</div>

	<div class="control-group">
	<label>יעד:</label>
	<input type="text" class="form-control" placeholder="יעד" id="edit-dest" style="height:35px" name="destination">
	</div>
    <p></p>
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" style="display: inline-block;margin-bottom: 0;font-weight: 400;text-align: center;vertical-align: middle;cursor: pointer;background-image: none;border: 1px solid transparent;white-space: nowrap;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;border-radius: 4px;-webkit-user-select: none;" aria-hidden="true">סגור</button>
        <button data-dismiss="modal" style="display: inline-block;margin-bottom: 0;font-weight: 400;text-align: center;vertical-align: middle;cursor: pointer;background-image: none;border: 1px solid transparent;white-space: nowrap;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;border-radius: 4px;-webkit-user-select: none;" id="btnYesEdit">אשר</button>
    </div>
</div>
<div id="myAddModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="myModalLabel">הוספת מידור</h3>
    </div>
    <div class="modal-body">
    <div class="control-group">
	<label>שם:</label>
	<input type="text" class="form-control" id="add-mission" style="height:35px" placeholder="שם הסרט" name="name">
	</div>

	<div class="control-group">
	<label>מקור:</label>
		<input type="text" class="form-control" id="add-source" list="sources-list" style="height:35px" placeholder="מקור" name="source">
	</div>

	<div class="control-group" style="text-align:right">
	<label>זמן בתחלה:</label>
	<input type=datetime-local step=1 class="form-control" id="add-start" style="text-align:right;height:35px" placeholder="זמן התחלה" name="start_time">
	</div>

	<div class="control-group">
	<label>זמן סיום:</label>
	<input type="datetime-local" class="form-control" id="add-end" style="text-align:right;height:35px" placeholder="זמן סיום" name="end_time">
	</div>

	<div class="control-group">
	<label>יעד:</label>
	<input type="text" class="form-control" placeholder="יעד" id="add-dest" style="height:35px" name="destination">
	</div>
    <p></p>
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" style="display: inline-block;margin-bottom: 0;font-weight: 400;text-align: center;vertical-align: middle;cursor: pointer;background-image: none;border: 1px solid transparent;white-space: nowrap;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;border-radius: 4px;-webkit-user-select: none;" aria-hidden="true">סגור</button>
        <button data-dismiss="modal" style="display: inline-block;margin-bottom: 0;font-weight: 400;text-align: center;vertical-align: middle;cursor: pointer;background-image: none;border: 1px solid transparent;white-space: nowrap;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;border-radius: 4px;-webkit-user-select: none;" id="btnYesAdd">אשר</button>
    </div>
</div>
<div style="direction:rtl;text-align:right; margin-top: 5%;width: 80%;margin-right: 6%;">
	<img src="/images/plus.png" style="height:30px;width:30px">
	<label id="addLabel">הוסף מידור חדש</label>
<div>
<table class="table table-striped table-hover table-users" style="direction:rtl;text-align:right; margin-top: 1%;width: 80%;">
    <thead>
    <tr>
      <th style="text-align:center">#</th>
      <th style="text-align:center">שם משימה</th>
      <th style="text-align:center">מקור</th>
      <th style="text-align:center">זמן התחלה</th>
      <th style="text-align:center">זמן סיום</th>
      <th style="text-align:center">יעד</th>
      <th style="text-align:center"></th>
      <th style="text-align:center"></th>
    </tr>
  </thead>
  <tbody style="text-align:center">

  		<% _.each(midur, function(curMidur) { %>
		<tr data-id="<%= curMidur.id %>" data-model="Midur" style="text-align:center">
			<td style="text-align:center">1</td>
			<td style="text-align:center"><%= curMidur.missionName %></td>
			<td style="text-align:center"><%= curMidur.sourceId %></td>
			<td style="text-align:center"><%= moment(curMidur.startTime).format('MMMM Do YYYY, h:mm:ss a') %></td>
			<td style="text-align:center"><%= moment(curMidur.endTime).format('MMMM Do YYYY, h:mm:ss a') %></td>
			<td style="text-align:center"><%= curMidur.destination %></td>
			<td style="text-align:center"><a class="confirm-edit btn mini blue-stripe" data-title="<%= curMidur.missionName %>" data-id="<%= curMidur.id %>">ערוך</a></td>
			<td style="text-align:center"><a href="#" class="confirm-delete btn mini red-stripe" role="button" data-title="<%= curMidur.missionName %>" data-id="<%= curMidur.id %>">מחק</a></td>
		</tr>
		<% }) %>

<script src="/javascript/Index.js">
var id = 1;

function getNextID(){
	id = id +1;
	return id;
}
</script>
